@import "../../style/variable";
$indent:4px;

.E-input{
  display: flex;
  flex-direction: row;
  &.element-container{
    position: relative;
    height: rem(50px);
    line-height: rem(50px);
    width: 100%;
    margin: 0 auto;
    font-size: rem(18px);
    .element-iconBox{
      &.big{
        width: 30px;
        img{
          width: 18px;
        }
      }
      &.normal{
        img{
          width: 16px;
        }
      }
      &.small{

      }
      display: flex;
      justify-content: center;
      img{
        align-self: center;
      }
    }
    .element-inputBox{
      flex: 1;
      // overflow: hidden;
      position: relative;
      .element-substitute{
        width: 100%;
        height: 100%;
        line-height: inherit;
        overflow: hidden;
        font-size: inherit;
        text-indent: $indent;
      }
      .element-placeholder{
        width: 100%;
        height: 100%;
        line-height: inherit;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        font-size: rem(16px);
        text-indent: $indent;
      }
      input{
        // position: absolute;
        // font-size: inherit;
        // height:100%;
        // width: 100%;
        // top: 0;
        // left: 0;
        // //background: red;
        // //color: black;
        // background: transparent;
        // color: transparent;
        // opacity: 0;
        // text-indent: $indent;
        outline: none;
      }
    }
    .element-border{
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border: 1px solid #bdab13;
      pointer-events: none;
    }
    .element-button{
      padding: 0 10px;
      letter-spacing: 1px;
    }
  }
  .element-substitute{
    color: black;
  }
  .element-placeholder{
    color: black;
  }
  .element-button{
    &.disable{
      color: grey;
    }
  }
}