@import "../../style/variable";

.stage-recharge{
  @include stage(url('../../assets/images/bg.jpg') no-repeat center center);
  .payment-list{
    .role{
      display: flex;
      margin: 10px;
      border-bottom: 1px solid #8E8E93;
      .icon{
        width: 45px;
        height: inherit;
        align-self: center;
        .logo{
          fill: #8E8E93;
          width: 24px;
          height: 24px;
        }
      }
      .body{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .title{
        display: block;
        font-size: 17px;
        color: #E0C69B;
        padding: 5px 10px;
      }
      .subtitle{
        display: block;
        font-size: 14px;
        color: #C2C2C2;
        padding: 5px 10px;
      }
    }
  }
}