@import './../../style/variable.scss';
.myChartBox{
    display: flex;
    flex: 1;
    .chart{
        flex: 1;
        position: relative;
    }
    ul {
      display: flex;
      justify-content: space-around;
      // height: rem(42px);
      position: relative;
      margin-top: rem(10px);
      border-top: 3px solid #f4f4f4;
      padding-top: rem(5px);
      > li {
        font-size: rem(14px);
        text-align: center;
        display: flex;
        flex: 1;
        > div {
          // width: rem(45px);
          height: rem(25px);
          line-height: rem(25px);
          vertical-align: middle;
          display: flex;
          color: $DEEP_GREY_FONT_COLOR;
          flex: 1;
          justify-content: center;
          &.active {
            border-bottom: 1px solid $DEEP_GREY_FONT_COLOR;
            color: $DEEP_GREY_FONT_COLOR;
          }
        }
      }
    }
  }