._stage{
  width: 100%!important;
  height: 100%!important;
  overflow: hidden;
  will-change: auto;
  &._move-in{
    display: block;
    will-change: transform;
    transform: translateX(-100%);
    transition: transform .4s;
  }

  &._move-out{
    display: block;
    will-change: transform;
    transform: translateX(100%);
    transition: transform .4s;
  }
}

._stage-next{
  position: absolute;
  display: none;
  top:0;
  left: 100%;
  z-index: 2;
}

._stage-show{
  display: block!important;
}

._stage-hide{
  display: none!important;
  left: 100%;
}

._stage-on{
  position: relative;
  z-index: 1;
}

._stage-live{
  display: block!important;
}

._stage-prev{
  position: absolute;
  display: none;
  top:0;
  left: 0;
  z-index: -1;
}

._stage-out{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}