<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=contain"/>
    <!-- UC强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端 END -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->

    <% if(htmlWebpackPlugin.chartIQ){ %>
    <script src='%PUBLIC_URL%/chartiq/js/quoteFeedSimulator.js'></script>
    <script src="%PUBLIC_URL%/chartiq/js/chartiq.js"></script>
    <!-- <script src="%PUBLIC_URL%/chartiq/js/componentUI.js"></script> -->
    <!-- <script src="%PUBLIC_URL%/chartiq/js/components.js"></script> -->
    <script src="%PUBLIC_URL%/chartiq/js/addOns.js"></script>
    <!--<script src="https://jsfiddle.chartiq.com/chart/js/addOns.js"></script> -->
    <link rel="stylesheet" type="text/css" href="%PUBLIC_URL%/chartiq/js/CIQ_Seed.css">
    <!--ChartIQ charting library stylesheets -->
    <link rel="stylesheet" type="text/css" href="%PUBLIC_URL%/chartiq/css/stx-chart.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="%PUBLIC_URL%/chartiq/css/chartiq.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="%PUBLIC_URL%/chartiq/css/normalize.css" media="screen"/>
    <!--<link rel="stylesheet" type="text/css" href="%PUBLIC_URL%/chartiq/css/page-defaults.css" media="screen" />-->
    <% }else{ %>
    <!--<script src='%PUBLIC_URL%/chartLab/static/js/external/spin.min.js' async defer></script>-->
    <!--<script src='%PUBLIC_URL%/chartLab/static/bundles/library.52f448f933885e5e0fed.js'></script>-->
    <!--<script src="%PUBLIC_URL%/chartLab/static/bundles/vendors.8c445fe91dc494c5dec6.js"></script>-->
    <% }%>
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>React App</title>
    <section style="display:none">@@%BRANCH%@@</section>

</head>
<body style="height: 100%;overflow: hidden;width: 100%">
<noscript>
    You need to enable JavaScript to run this app.
</noscript>
<div id="root"></div>
<!--
  This HTML file is a template.
  If you open it directly in the browser, you will see an empty page.

  You can add webfonts, meta tags, or analytics to this file.
  The build step will place the bundled scripts into the <body> tag.

  To begin the development, run `npm start` or `yarn start`.
  To create a production bundle, use `npm run build` or `yarn build`.
-->
</body>
</html>
