@import "@gstyle";

.c-calendar{
    padding: rem(13px) 0  rem(9px);
    .title{
        padding: 0 rem(15px);
        line-height: rem(20px);
        font-weight: bold;
    }
    .date{
        display: flex;
        flex-direction: column;
        align-items: center;
        .week{
            line-height:rem(16px);
            font-size:rem(11px);
            padding: rem(8px) 0 rem(6px);  
        }
        .day{
            width: rem(36px);
            height: rem(36px);
            line-height: rem(36px);
            text-align: center;
        }
        .active{
            border-radius: 50%;
            background: rgba(57,81,115,0.2);
        }
    }
}