@mixin pull-to-refresh-fontSize($size:12px){
  .am-pull-to-refresh-indicator{
    font-size: $size;
  }
}

@mixin pull-to-refresh-TabBar($bottom){
  .am-pull-to-refresh-content-wrapper{
    padding-bottom: $bottom;
  }
}

@mixin pull-to-refresh-saveMe(){
  .am-tabs-pane-wrap{
    overflow: hidden;
  }
}

