@import "normalize.css";
@import "eric-meyer-reset.min.css";
@import "variable";

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  //font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  //"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  //sans-serif;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
}

#root {
  height: 100%;
  >div{
    height: 100%;
  }
}

*{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
input,select,option{
  -webkit-touch-callout: auto; /* iOS Safari */
  -webkit-user-select: auto; /* Safari */
  -khtml-user-select: auto; /* Konqueror HTML */
  -moz-user-select: auto; /* Firefox */
  -ms-user-select: auto; /* Internet Explorer/Edge */
  user-select: auto;
}

input{
  border: 0;
}

@include screen(1080);
@include screen(960);
@include screen(750);
@include screen(640);
@include screen(600);
@include screen(540);
@include screen(480);
@include screen(414);
@include screen(400);
@include screen(375);
@include screen(360);
@include screen(320);
@include screen(240);