$BASIC_COLOR: #000000;
$DEFAULT_BACKGROUND: #F4F4F4;
$BACKGROUND: #FFFFFF;
$ACTIVE_COLOR: #d5b978;
$BASIC_FONT_COLOR: #000000;
$GREY_FONT_COLOR: #999999;
$DEEP_GREY_FONT_COLOR:#6e6e6f;

$RAISE: #e34c4c;
$FALL: #00b38f;

$baseWidth: 375;
$ACTIVE_FONT_COLOR: #ffe38f;
$BUTTON_COLOR: #caa35a;
$BOX_LINE: #e1e1e1;


$WHITE: #fff;

$FOOT_COLOR: #FCDA66;
$GRAY_BACKGROUND: #f4f4f4;
$FOO_ACTIVE_COLOR:#5c7ced;
$FOO_DEFAULT_COLOR: #c7c7c7;

$HEADER_BACKGROUND:#5c7ced;
$HEADER_FONT_COLOR: #fff;

$baseWidth: 375;
$baseSize: $baseWidth/10;

@function rem($val) {
  @if unitless($val) == true {
    @return #{$val/$baseSize}rem
  } @else {
    @return #{($val / ($val * 0 + 1))/$baseSize}rem
  }
}


@mixin screen($res-max) {
  @media only screen and (max-width: #{$res-max}px), only screen and (max-device-width: #{$res-max}px) {
    html,
    body {
      font-size: #{($baseSize * ($res-max/$baseWidth))}px !important;
    }
  }
}


@mixin triangle($direction,$size,$tend,$color) {
  @content;
  width: 0;
  height: 0;
  @if $direction == top {
    border-bottom: rem($tend) solid $color;
    border-left: rem($size) solid transparent;
    border-right: rem($size) solid transparent;
  } @else if $direction == right {
    border-left: rem($tend) solid $color;
    border-top: rem($size) solid transparent;
    border-bottom: rem($size) solid transparent;
  } @else if $direction == bottom {
    border-top: rem($tend) solid $color;
    border-left: rem($size) solid transparent;
    border-right: rem($size) solid transparent;
  } @else if $direction == left {
    border-right: rem($tend) solid $color;
    border-top: rem($size) solid transparent;
    border-bottom: rem($size) solid transparent;
  }
}

@mixin nav-page{
  &.come{
    left: 0;
  }
  transition: .2s all ease-out;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@mixin stage($color:#ffffff){
  height: 100%;
  width: 100%;
  background: $color;
  display: flex;
  flex-direction: column;
  -webkit-background-size: cover;
  background-size: cover;
}

@mixin footerStyle($background:#fff,$default:$FOO_DEFAULT_COLOR,$active:$FOO_ACTIVE_COLOR){
  .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: rem(58px);
    background: $background;
    display: flex;
    border-top: 1px solid #e1e1e1;
    z-index: 1;
    div{
      font-size: rem(18px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
    .foo-imageBox{

    }
    .foo-textLabel{
      font-size: rem(14px);
    }
    .foo-image{
      width: rem(26px);
      height: rem(26px);
    }

    .foo-active-image{
      fill: $active;
    }

    .foo-default-image{
      fill: $default;
    }

    .foo-active-textLabel{
      color: $active;
    }

    .foo-default-textLabel{
      color: $default;
    }
  }
}

.greenCard{
  background: linear-gradient(to right bottom,#03b4a4,#0ca3a3,#1988a4);
}
.redCard{
  background: linear-gradient(to right bottom,#e7704a,#d04535,#d03e35);
}
.blueCard{
  background: linear-gradient(to right bottom,#4f89b9,#426bac,#3c5ca5);
}
.pinkCard{
  background: linear-gradient(to right bottom,#fa8163,#fb726d,#fd557d);
}


.cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
  .codeBox {
    width: rem(300px);
    height: rem(151px);
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: $WHITE;
    >p {
      font-size: rem(16px);
      color: #000;
      padding: rem(15px);
      text-align: center;
    }
    .code {
      padding: rem(15px) rem(30px);
      overflow: hidden;
      img {
        width: 30%;
        height: rem(30px);
        float: left;
      }
      input {
        float: left;
        width: 65%;
        outline: none;
        border: none;
        border-bottom: 1px solid $BOX_LINE;
        font-size: rem(14px);
        padding: rem(6.5px);
      }

    }
    .codeButton {
      border-top: 1px solid $BOX_LINE;
      display: flex;
      div {
        flex: 1;
        text-align: center;
        font-size: rem(16px);
        padding: rem(14px);
      }
      .sure {
        color: #26a2ff;
        border-left: 1px solid $BOX_LINE;
      }
    }
  }
}
