.tabBox{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.liveTab{
    visibility: hidden;
}

.hideTab{
    visibility: hidden;
    display: none;
}

.showTab{
    position: relative;
    z-index: 2;
}