@import "../../style/variable";

.C-modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  &.white {
    background: rgba(255, 255, 255, 0.2);
  }
  &.black {
    background: rgba(0, 0, 0, 0.2);
  }
  .element-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .element-body{
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    animation: appear ease-out 0.2s;
    &.out{
      animation: disappear ease-in 0.2s;
    }
  }
}

@keyframes appear {
  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1);
  }
}

@keyframes disappear {
  0%{
    transform: scale(1);
  }

  100%{
    transform: scale(0);
  }
}