@import "../../style/variable";


.stage-register{
  @include stage(url('../../assets/images/background.jpg') no-repeat center center);
  background-size: cover;
  display: flex;
  flex-direction: column;
  .title{
    margin-top: rem(100px);
    margin-bottom: rem(50px);
    width: 80px;
    align-self: center;
  }
  .swipe{
    width: 200%;
    .window{
      width: 50%;
      display: inline-block;
      transition: all .3s;
      &._move-in{
        transform: translateX(-100%);
      }
      &._move-out{
        transform: translateX(-100%);
      }
    }
  }
  .E-input{
    &.wrapper{
      border-bottom: 1px solid #B37D4C;
      width: 80%;
      height: rem(30px);
      line-height: rem(30px);
      margin-bottom: rem(20px);
      .border{
        border: 0;
      }
      .placeholder{
        color: #BC8F5B;
      }
      .input{
        color: #BC8F5B;
        background: transparent;
        border: 0;
      }
      .captcha{
        color: #BC8F5B;
        &.disable{
          color: grey;
        }
      }
    }
  }
}

.E-modal{
  .stage-register-panel{
    width: 80%;
    background: #2F304A;
    display: flex;
    flex-direction: column;
    border: 2px solid #B37D4C;
    border-radius: 4px;
    overflow: hidden;
  }
  .title{
    height: 46px;
    line-height: 46px;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #E0C69B;
    border-bottom: 1px solid #B37D4C;
  }
  .body{
    flex: 1;
    font-size: 16px;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
  .bar{
    position: relative;
    height: 45px;
  }
  .button{
    width: 50%;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    font-size: 21px;
    border-radius: 0;
  }
  .divide{
    position: absolute;
  }
}