@import "../../../style/variable";

.foo-z1{
  z-index: 1!important;
}
.foo-z3{
  z-index: 3!important;
}
.foo-z-1{
  z-index: -1!important;
}
.foo-z-3{
  z-index: -3!important;
}

.basicPosition{
    position: relative;
}